/* CheckStatus.css */
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('../assests/batman2.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 100px;
}

.check-status-container {
  max-width: 800px;
  padding: 60px; /* Adjust the padding to create more space between elements */
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.check-status-heading {
  margin-top: 0;
  margin-bottom: 60px; /* Add margin-bottom for spacing below the heading */
  text-align: center;
  font-size: 44px;
  color: #333;
}

.check-status-input {
  width: 100%;
  margin-bottom: 10px; /* Add margin-bottom for spacing below the input box */
  padding: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.check-status-button {
  display: block;
  width: 100%;
  margin-top: 10px; /* Add margin-top for spacing above the button */
  padding: 12px;
  font-size: 18px;
  color: #ffffff;
  background-color: #030303;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.check-status-button:hover {
  background-color: #0056b3;
}

.check-status-message {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  color: #fa0505;
  font-weight: bolder;
}

.message-to-batman {
  width: 100%;
  margin-bottom: 20px; /* Add margin-bottom for spacing below the message box */
  min-height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  color: #ffffff;
  background-color: #050505;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}

/* Optional: Add some animations */
.check-status-container {
  animation: slide-in 0.3s ease-out;
}

@keyframes slide-in {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
