.app-container {
    background-color: #000; 
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
.explore-page {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #000; 
  }
  
  .explore-header {
    text-align: center;
    font-size: 32px;
    color: #fff; 
    margin-bottom: 20px;
  }
  
  .explore-content {
    line-height: 1.6;
    color: #fff;
  }
  
  .batman-weapons {
    margin-top: 30px;
  }
  
  .batman-weapons h2 {
    font-size: 24px;
    color: white; 
    margin-bottom: 10px;
  }
  
  .view-weapons-btn {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .view-weapons-btn:hover {
    background-color: blue;
  }
  /* Styling for the back to home button */
.back-to-home-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .back-to-home-btn:hover {
    background-color: #0056b3;
  }
  
  