#ro{
    overflow-x: hidden ;
    font-family: 'Quicksand', sans-serif;
   font-weight:bolder;
   color: aliceblue;
   background-color: black;
   padding-bottom: 200px;
}

#cardfeedback{
    padding: 50px;
    border-radius: 0%;
    border:solid;
    background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-color: rgb(163, 7, 46);
}

#colf{
    padding: 50px;
}