
#card-container {
  display: flex;
  flex-wrap: wrap;

  align-items: center;

  margin: 20px;
  padding: 5px;
 
}

#card {
  width: 220px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  padding-right: 5px;
  margin-left: 35px;
  mix-blend-mode:soft-light
}

#pistolimg{
   mix-blend-mode:darken;
   
  
}

#card:hover{
 mix-blend-mode: hard-light;
}

#inventorybg{
    background-image: url('https://i.pinimg.com/originals/0e/3f/b6/0e3fb6d0ad3f72c8b5f420a8e8bf7eb3.gif');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#weapons{
    font-family: ref;
    color: brown;
}

@font-face {
    font-family: ref ;
    src: url(../../Fonts/batmfa__.ttf);
}
