.DarkKnight-background{
    background-color: #131313;
}
.dk-invest-card{
    vertical-align: bottom;
}
.quick-sand{
    font-family: 'Quicksand', sans-serif;
}

#point{
    margin-left: 1100px;
    margin-top: -50px;
    font-size: 32px;
    color: aliceblue;
}